.card {
    width: 20vw;
    height: 15vw;
    border: 2px solid black;
    margin: 34px auto;
    align-content: center;
    background: #000000;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.1);
  }