.card {
    width: 20vw;
    height: 15vw;
    border: 2px solid black;
    margin: 34px auto;
    align-content: center;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.post-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-content .wp-block-embed-youtube {
    display: flex;
    justify-content: center;
}

.post-content .has-background {
    color: black !important;
    padding: 4px;
    border-radius: 5%;
}

.post-content figcaption {
    text-align: center;
}

.post-content .wp-block-list li {
    list-style-type: disc;
    /* This will add the bullets */
    margin-left: 1.5em;
    /* Optional: Adds indentation for the list items */
}