/* styles.css or in a <style> block */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
}

.scroll-down {
  width: 30px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  display: inline-block;
  position: relative; /* keeps ::before inside */
}

.dark .scroll-down {
  border-color: rgba(255, 255, 255, 0.3);
}

.scroll-down::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  width: 6px;
  height: 6px;
  background: #000000;
  margin-left: -3px;
  border-radius: 100%;
  animation: scrollDown 1.5s infinite;
  box-sizing: border-box;
}

.dark .scroll-down::before {
  background: #fff;
}

@keyframes scrollDown {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}

/* Add this to your global styles or a CSS module */
#brain {
  height: 100vh;
  width: 100%;
}

#brain-svg {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.node {
  cursor: pointer;
  transition: fill 0.3s;
}

.edge {
  stroke: #888;
  stroke-width: 2;
  opacity: 1;
}

.active-edge {
  stroke: yellow;
  stroke-width: 4;
  opacity: 1;
}

body {
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
}

.def-color {
  color: #481BC3 !important;
}